Ingestão de dados.json
{
  "name": "Ingestão de dados",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "410cf785-2345-4d18-a510-f126cd54b8bd",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "http://api:3000/people/v1/enrichments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "41b619ae-ee10-4aa4-a1db-034ea2fcb151",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xnWNGpUnh4n835G0",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        320,
        0
      ],
      "id": "9a4f2451-6d85-4d20-af0c-d2ea719fd10d",
      "name": "Split Out"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "warehouse",
          "mode": "list",
          "cachedResultName": "warehouse"
        },
        "table": {
          "__rl": true,
          "value": "bronze_enrichments",
          "mode": "list",
          "cachedResultName": "bronze_enrichments"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "raw_data": "={{ JSON.stringify($json) }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "raw_data",
              "displayName": "raw_data",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "dw_ingested_at",
              "displayName": "dw_ingested_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "dw_updated_at",
              "displayName": "dw_updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "skipOnConflict": true
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        528,
        0
      ],
      "id": "38c54589-5925-4015-9a7d-5e76eea66a00",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "gBZ3Wmt0COc8jzz7",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d8b5511f-954c-4b86-b448-08447f34ea79",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "677f5fbb9aeae3496c2b9f92e0d0e4511e8df7f832cce084ce4886fcd653317f"
  },
  "id": "pJ3hI9ADeX5iPVrNfa7tl",
  "tags": []
}